<?xml version="1.0" encoding="UTF-8"?>
<taglib version="2.1" xmlns="http://java.sun.com/xml/ns/javaee"
 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd">
 	<tlib-version>1.0</tlib-version>
 	<short-name>functions</short-name>
 	<uri>http://www.contames.com.br</uri>
 	<function>
  		<name>outHtml</name>
  		<function-class>br.com.contames.jsp.Functions</function-class>
  		<function-signature>java.lang.String outHtml(java.lang.String)</function-signature>
 	</function>
 	<function>
  		<name>escapeJS</name>
  		<function-class>br.com.contames.jsp.Functions</function-class>
  		<function-signature>java.lang.String escapeJS(java.lang.String)</function-signature>
 	</function>
 	<function>
  		<name>uncode</name>
  		<function-class>br.com.contames.jsp.Functions</function-class>
  		<function-signature>java.lang.String uncode(java.lang.String)</function-signature>
 	</function>
 	<function>
  		<name>orderByContains</name>
  		<function-class>br.com.contames.jsp.Functions</function-class>
  		<function-signature>boolean orderByContains(java.lang.String, java.util.List)</function-signature>
 	</function>
 	<function>
  		<name>contains</name>
  		<function-class>br.com.contames.jsp.Functions</function-class>
  		<function-signature>boolean contains(java.lang.Object, java.util.List)</function-signature>
 	</function>
 	
 	<function>
  		<name>subTotal</name>
  		<function-class>br.com.contames.jsp.Functions</function-class>
  		<function-signature>java.util.Map subTotal(java.util.Map, br.com.contames.enumeration.SubtotalTipo, java.sql.Date, java.lang.Double)</function-signature>
 	</function>
 	
 	<function>
  		<name>formatSqlDate</name>
  		<function-class>br.com.contames.jsp.Functions</function-class>
  		<function-signature>java.lang.String formatSqlDate(java.sql.Date, java.lang.String)</function-signature>
 	</function>
 	
 	<function>
 		<name>removeStart</name>
 		<function-class>org.apache.commons.lang3.StringUtils</function-class>
  		<function-signature>java.lang.String removeStart(java.lang.String, java.lang.String)</function-signature>
 	</function>
 	
 	<function>
 		<name>sqlTimestampToMillis</name>
 		<function-class>br.com.contames.jsp.Functions</function-class>
  		<function-signature>long sqlTimestampToMillis(java.sql.Timestamp)</function-signature>
 	</function>
 	
 	<function>
 		<name>byteCountToDisplaySize</name>
 		<function-class>org.apache.commons.io.FileUtils</function-class>
 		<function-signature>java.lang.String byteCountToDisplaySize(long)</function-signature>
 	</function>
 	
 	<function>
 		<name>isImage</name>
 		<function-class>br.com.contames.jsp.Functions</function-class>
 		<function-signature>boolean isImage(java.lang.String)</function-signature>
 	</function>
 	
</taglib>